@import '../public/fonts/inter.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply a CSS reset for consistent styling */
html, body, h1, p, a, button, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* Set up basic global styles */
:root {
  --primary-color: #646cff;
  --secondary-color: #535bf2;
  --background-color: #242424;
  --text-color-light: rgba(255, 255, 255, 0.87);
  --text-color-dark: #213547;
}

/* Apply color scheme based on light or dark mode */
@media (prefers-color-scheme: light) {
  :root {
    --text-color: var(--text-color-dark);
    --background-color: #ffffff;
    --link-color: #747bff;
    --button-background-color: #f9f9f9;
  }
}

/* Apply color scheme based on dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--text-color-light);
    --link-color: #747bff;
    --button-background-color: #1a1a1a;
  }
}

/* Apply base font and text rendering styles */
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Set up links and their hover styles */
a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary-color);
}

/* Style buttons */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--button-background-color);
  color: var(--text-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Apply a flex layout to the main content area */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}